@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Barlow", sans-serif;
	color: rgb(87, 87, 87);
	background-color: rgb(217, 235, 255);
}
.logout-btn{
	position: fixed;
	right: 20px;
	top: 20px;
	padding:  3px 20px;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	background-color: rgb(236, 74, 74);
	color: white;
	
}
.logout-btn:hover{
	background-color: rgb(218, 41, 41);

}
header {
	background-image: url("images/bg2.jpg");
	background-size: cover;
	min-height: 150px;
}

header h1 {
	text-align: center;
	padding-top: 50px;
	color: white;
}

main {
	padding: 0 40px;
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.quiz-description h2 {
	margin-top: 20px;
	text-align: center;
}

.quiz-description p {
	margin: 20px 0;
}

.answer-the-test {
	text-align: center;
}

.quiz-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quiz-time {
	display: flex;
}

.quiz-time img {
	width: 40px;
	margin-top: -10px;
}

.quiz-countdown {
	margin-left: 10px;
}

/* questions */

.question {
	display: flex;
	background-color: white;
	margin: 15px 0;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgb(219, 244, 255);
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.question-answers {
	display: flex;
	flex-direction: column;
}

.question-answers div {
	margin-top: 10px;
}

#submit-all {
	display: flex;
	justify-content: center;
}

#submit-adswers {
	padding: 20px;
	margin: 0 0 50px;
	border-radius: 10px;
	border: none;
	background-color: rgb(108, 137, 231);
	color: white;
	cursor: pointer;
}
#submit-adswers:hover{
	background-color: rgb(89, 119, 215);

}
#cancel-quiz {
	padding: 20px;
	margin: 0 0 50px;
	border-radius: 10px;
	border: none;
	background-color: rgb(238, 97, 97);
	color: white;
	cursor: pointer;
	margin-left: 10px;
}

/* copy right */

.copyright {
	text-align: center;
	margin: 15px;
	color: rgb(114, 114, 114);
}

.copyright a {
	text-decoration: none;

	color: rgb(36, 36, 36);
}